.container { 
    /* margin top à ajuster avec javascript */
    margin: 150px auto;
    max-width: 350px;
    /*border: 2px solid black;*/
}
.row {
    margin-top: 5px;
}
.calc-frame {
    position: relative;
    /* pour perspective */
    /*
    -webkit-perspective: 500px; /* Chrome, Safari, Opera  */
    perspective: 500px;
    */
}
.calc-frame img {
    opacity: 1;
}
.keyboard {
    /*
    -webkit-transform: rotateX(2deg); /* Chrome, Safari, Opera  */
    transform: rotateX(2deg);
    */
    overflow: hidden;
    position: absolute;
    top: 230px;
    left: 54px;
    z-index: 1;
}

button {
    width: 48px;
    height: 48px;
    margin: 5px;
    border-radius: 5px;
    font-size: 26px;
    background-color: #DDCB83;
}
.btn-large {
    width: 79px;
}
button.dbl-height {
    width: 40px;
    height: 65px;
    float: right;
    margin-right: 4px;
    margin-bottom: 10px;
}
button.lastrow {
    margin-top: 5px;
}
button.dig-button, button.dot {
    background-color: #FCF6D4;
}
button.eq {
    background-color: #F49738;
}
#affichage {
    height: 35px;
    border: 2px solid black;
    margin-right: 4px;
    padding: 1px 3px 0 0;
    font-size: 150%;
    text-align: right;
}


/* problème: défait les rangées */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


/* ================== affichage ================ */
.clock {
  height:50px;
  position:absolute;
  top: 21%;
  left: 19.5%;
  /*
  top:25%;
  left:50%;
  width:900px;
  margin-left:-450px;
  margin-top:50px;
  text-align:center;
  */
  font-size: 8px;
  letter-spacing: -1px;
  
  /*margin-top:-100px;*/
}

.digit {
  width:20px;
  height:40px;
  margin:0 0px;
  position:relative;
  display:inline-block;
}

.digit .segment {
  background:#c00;
  border-radius:5px;
  position:absolute;
  opacity:0.35;
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
  -ms-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
}

.digit .segment.on, .separator.on {
  opacity:1;
  box-shadow:0 0 50px rgba(255,0,0,0.7);
  transition:opacity 0s;
  -webkit-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -o-transition:opacity 0s;
}

.separator {
  width:5px;
  height:5px;
  background:#c00;
  border-radius:50%;
  display:inline-block;
  position:relative;
  top:0px;
  opacity: 0.35;
}

.digit .segment:nth-child(1) {
  top:1px;
  left:3px;
  right:3px;
  height:3px;
}

.digit .segment:nth-child(2) {
  top:6px;
  right:0px;
  width:3px;
  height:calc(50% - 9px);
  height:11px;
}

.digit .segment:nth-child(3) {
  bottom:6px;
  right:0px;
  width:3px;
  height:11px;
  /*height:calc(50% - 9px);*/
}

.digit .segment:nth-child(4) {
  bottom:1px;
  left:3px;
  right:3px;
  height:3px;
}

.digit .segment:nth-child(5) {
  bottom:6px;
  left:0px;
  width:3px;
  height:calc(50% - 25px);
  height:11px;
}

.digit .segment:nth-child(6) {
  top:6px;
  left:0px;
  width:3px;
  height:calc(50% - 25px);
  height:11px;
}

.digit .segment:nth-child(7) {
  right:3px;
  left:3px;
  height:3px;
  bottom:calc(50% - 1px);
  bottom:18px;
  /*background-color: blue;*/
}
